*{margin: 0 auto; max-width: 1200px;}

body{
	background-color: #DBDBDB;
}

.head{
	margin: 30px auto;
	height: 120px;
	background: #fff;
	margin: 0;
}

.head>h1{
	padding: 30px 15px;
	font-size: 60px;
}

.sites{
	width: 80%;
	height: 400px;
	background: #fff;
	margin: 30px auto;
	text-align: center;	
}

.sites>h1{
	font-size: 40px;
	margin:20px 12px;
	padding-top: 20px;
}

ol{
	display: flex;
	justify-content: center;
}

a{
	text-decoration: none;
	color: #000;
	font-size: 26px;
	font-style: bold;
	text-align: center;
}

li{
	margin: 35px 40px;
	font-size: 26px;
	padding: 10px 15px;
	width: 200px;
}

li:hover{
	border: 2px solid #000;
	border-radius: 10%;
	background: rgba(250,250,250,.7);
}

