.footer{
    height: 100%;
    width: 100%;
    background: #171717;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.telephone h1 span{color: #0dc2ce}