*{
    margin: 0;
    padding: 0;
}

ul{list-style: none}
a{text-decoration: none}


.button{
    display: block;
    padding: 25px 15px;
    width: 250px;
    height: 16px;
    color: white;
    background: #0dc2ce;
}

@media screen and (max-width: 600px){
    .button{width: 150px}
}