.main-wrap{
    background-image: url("../img/serv-header.PNG");
    background-size: cover;
    background-repeat: no-repeat;}
.content{
    margin: 15px auto;
    width: 80%;
}

.logo{
    margin-bottom: 20px;
}

.service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
}

.example{width: 60%; margin: 0 auto}

.example h2{margin: 5px 0; color: #0dc2ce}

.button{margin-top: 15px}

@media screen and (max-width: 950px){
    .service{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 650px){
    .service{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .example img{width: 120%}
}