*{
    margin: 0;
    padding: 0;
}
body{scroll-behavior: initial;}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.main-wrapper{
    display: grid;
    grid-template-rows: 100vh 60% 90% 90% 100%;
}

.first-wrap{
    background-image: url("../img/bg.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*padding: 15px;*/
    background: rgba(0,0,0,.3);
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.logo{
    margin-left: 10%;
    margin: 35px 10px 30px;
    color: #fff;
}

.logo span{
    color: #dd3f19;
}

.main-nav ul{
    display: flex;
    justify-content: center;
    text-align: right;
    height: 100%;
}

.main-nav ul li{
    margin-right: 10px;
    height: 100%;
}

.nav-link, #search, #search-input{
    display: block;
    padding: 35px 5px 0px;
    color: #c3bdbb;
}

.current{
    display: block;
    color: #fff;
    background: rgba(0,0,0,.6);
    height: 55px;
    margin: 0;
    border-bottom: 3px solid #dd3f19;
}

#search-input{display: none}

.service{
    display: grid;
    width: 75vw;
    margin: 20px auto;
    grid-template-columns: repeat(3, 300px);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border-bottom: 2px solid #e5e5e5;
}

.service-block{
    text-align: center;
    margin: 60px auto 20px;
}

.ico .fas{
    width: 80px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    padding:25px;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-right: 2px;
}

.ico .fa-comments{background: linear-gradient(60deg, #805930, #6c6c43);}
.ico .fa-heart{background: linear-gradient(-60deg, #1597bb, #176086);}
.ico .fa-rocket{background: #60322c;}

.portfolio{
    text-align: center;
    margin-top: 60px;
}

.portfolio h2{
    font-size: 60px;
}

.portfolio p{
    width: 40vw;
    margin: 15px auto;
}

.portfolio-example{
   display: flex;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 2px solid #e5e5e5;
}

.fP,.sP,.tP{
    height: 50%;
    margin: 30px 45px 15px;
}
.fP .bg{
    background: linear-gradient(60deg, #777d74, #3c4e63);
    width: 350px;
    height: 250px;
}

.sP .bg{
    background: linear-gradient(60deg, #8c8e93, #52545a);
    width: 350px;
    height: 250px;
}

.tP .bg{
    background: linear-gradient(60deg, #777d74, #3c4e63);
    width: 350px;
    height: 250px;
}

.fP h3,.sP h3,.tP h3{
    font-size: 22px;
    margin: 15px auto;
    color: #7d7d7d;
}

.fP span,.sP span,.tP span{
    color: #adadad;
}

span:hover{color: #dd3f19; cursor: pointer;}

#portfolio-link1, #portfolio-link2, #portfolio-link3{
    display: none;
    width: 60%;
    padding: 10px 15px;
    background: #dd3f19;
    position: relative;
    top: 40%;
    left: 18%;
    border-radius: 5px;
    color: #fff;
}

.posts{text-align: center;}
.posts h2{
    font-size: 60px;
    margin-bottom: 40px;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    margin: 0 auto;

}

.post-slider{
    width: 100%;
    height: 200px;
    background: linear-gradient(60deg, #777d74, #3c4e63);
    margin: 0 auto 20px;
}

.post{
    width: 50%;
    margin: 10px auto;
}

.post h3 a{color: #000;}
.post h3 a:hover{color: #dd3f19}

#category{font-size: 14px; padding: 5px 0; border-bottom: 2px solid #e5e5e5; width: 60%; margin: 0 auto 15px; color: #e5e5e5}

#desription{width: 95%; margin: 0 auto 15px}

.post-info{color: #adadad; padding: 10px; width: 90%; margin: 5px auto; border-bottom: 2px solid #e5e5e5; border-top: 2px solid #e5e5e5; }

.footer{
    background-image: url("../img/Footerbg.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.footer p{
    width: 60vw;
    margin: 10px auto;
}

.social ul{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    width: 20vw;
    margin: 20px auto;
}

.social ul li{
    padding: 20px 10px;
}

.social ul li a{color: white}

.fa-pinterest-p{color: #dd3f19}

.to-top{
    color: white;
    position: fixed;
    z-index: 99;
    bottom: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background: #1f272b;
}

.to-top:hover{background: #dd3f19}

.to-top a{color: white; font-size: 20px; padding: 2px}

.footer-bottom{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 3% 50px 1.2%;
    background: rgba(0,0,0,.7);
    /*height: 140px;*/
}

.footer-bottom ul{
    display: flex;
    justify-content: center;
}

.footer-bottom ul li{margin: 0 10px;}
.footer-bottom ul li a{color: white}

@media screen and (max-width: 1024px){
    .post-list{grid-template-columns: repeat(3, 43vw);}
    .social ul{width: 30vw}
    .portfolio p{width: 90vw;}
}

@media screen and (max-width: 768px){
    .service{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .post-list{grid-template-columns: repeat(3, 57vw);}
}

@media screen and (max-width: 600px){
    .service{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header{text-align: center}
    #slider h1{font-size: 15vw;}
    .post-list{grid-template-columns: 1fr;}
    .social ul{width: 45vw}
    .main-nav{display: none;}
}


@media screen and (max-width: 500px){
    .service{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .post-list{grid-template-columns: 1fr;}
    .social ul{width: 85vw}
    .footer p{ width: 90vw;}
    .portfolio-example{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer h3{font-size: 15px}
}