*{
    margin: 0;
    padding: 0;
    font-family: AA;
}

@font-face {
    font-family: AA; /* Имя шрифта */
    src: url(../fonts/AA-BEBASNEUE.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: AB; /* Имя шрифта */
    src: url(../fonts/Akrobat-Black.otf); /* Путь к файлу со шрифтом */
}

/*body{background: linear-gradient(red, yellowgreen);}*/

a, p{
    color: #fff;
    text-decoration: none !important;
    font-family: AB;
}
body{
    background: #2c2c2c;
}

::-webkit-scrollbar {
    width: 5px;
}

#head{
    display: block;
    width: 100vw;
    height: 110vh;
    background: #000;
    position: relative;
}

.menu{
    background:rgba(0,0,0, .2);
    height:80px;
    opacity: 0;
    transition: top 2s;
    text-align:center;
}

.active{
    width:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background:rgba(0,0,0, .2);
    opacity: 10;
}

.menu ul{
    /*position: absolute;*/
    /*z-index: 2;*/
    display: flex;
    top: 0;
    justify-content: center;
    width: 100%;
    list-style: none;
    text-align: center;
}

.menu li{
    margin: 20px 2vw;
    text-align: center;
}

.menu a{
    font-size: 25px;
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}
.underline:hover{color: #00ffff;}

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #00ffff;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}
.info
{
    font-size: 50px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.info h1{
    font-size: 120px;
}

.btn-draw {
    position: relative;
    display: inline-block;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    margin-top: 40px;

}
.btn-draw:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
    background: #ffffff;
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.6s;
}
.btn-draw > span {
    position: relative;
    display: block;
    padding: 0.5em;
    color: inherit;
}
.btn-draw > span:before, .btn-draw > span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    transition: transform 0.2s ease-in-out;
}
.btn-draw > span:before {
    height: 2px;
    width: 100%;
    transform: translateX(100%);
    transition-delay: 0.4s;
}
.btn-draw > span:after {
    height: 100%;
    width: 2px;
    transform: translateY(-100%);
    transition-delay: 0.2s;
}
.btn-draw:hover:after, .btn-draw:hover > span:before, .btn-draw:hover > span:after {
    transform: translate(0, 0);
}
.btn-draw:hover:after {
    transition-delay: 0s;
}
.btn-draw:hover > span:before {
    transition-delay: 0.2s;
}
.btn-draw:hover > span:after {
    transition-delay: 0.4s;
}
.btn-draw:hover {
    color: #000000;
    background-color: #ffffff;
    transition-delay: 0.6s;
}


/*svg{*/
    /*position: absolute;*/
    /*z-index: 2;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
/*}*/

canvas{
    /*position: absolute;*/
    /*z-index: 1;*/
    background-color: #000;
    width: 100vw;
    height: 100vh;
    top: 0;
}


/*path{*/

    /*!*fill: #ff00ff;*!*/
    /*fill: rgba(256, 256, 256, .05);*/
    /*stroke: #00ffff;*/
    /*stroke-width: .7px;*/
    /*stroke-dasharray: 1400;*/
    /*opacity: 10;*/
    /*animation: animate 2s;*/
    /*animation: colorAnim 15s infinite;*/
/*}*/

/*@keyframes animate {*/
    /*0%{*/
        /*opacity: 10;*/
        /*fill: none;*/
        /*!*stroke: #00ffff;*!*/
        /*stroke-dashoffset: 1400;*/
    /*}*/

    /*20%{*/
        /*opacity: 5;*/
        /*fill: none;*/
        /*stroke: #ff00ff;*/
        /*stroke-dashoffset: 1400;*/
    /*}*/

    /*70%{*/
        /*opacity: 5;*/
        /*!*fill: #ff00ff;*!*/
        /*stroke: #ff00ff;*/
        /*stroke-dashoffset: 1400;*/
    /*}*/

    /*100%{*/
        /*opacity: 1;*/
        /*stroke: #00ffff;*/
        /*!*fill: #ff00ff;*!*/
        /*stroke-dashoffset: 0;*/
    /*}*/
/*}*/

/*@keyframes colorAnim {*/
    /*0%{*/
        /*stroke: #ff00ff;*/
    /*}*/
    /*90%{*/
        /*stroke: #00ffff;*/
    /*}*/
    /*100%{*/
        /*stroke: #ff00ff;*/
    /*}*/
/*}*/

.content{
    /*margin-top: 100vh;*/
    /*position: relative;*/
}

#photoset1{
    text-align: center;
    color: white;
    position: relative;
    padding-top: 40px;
    height: 80%;
    font-size: 50px;
}


/*.photo img{*/
    /*width: 20%;*/
    /*height: 30%;*/
    /*margin: 2px 15px;*/
/*}*/

.accordion {
    width: 100%;
    max-width: 1080px;
    height: 550px;
    overflow: hidden;
    margin: 20px auto;
}
.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}
.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
    margin-top: 10px;
}
.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}
.accordion ul li div {
    display: block;
    height: 550px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}
.accordion ul li div * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.accordion ul li div  h2 {
    font-family: Montserrat,sans-serif;
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
}
.accordion ul li div  p {
    top: 160px;
    font-size: 18px;
    font-family: AB;
}
.accordion ul li:nth-child(1) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(2) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(3) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(4) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(5) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(6) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(7) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(8) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(9) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul li:nth-child(10) {
    background-image: url("https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images-medium-private-5/6263-bw-male-nude-handstand-chris-maher.jpg");
}
.accordion ul:hover li {
    width: 8%;
}
.accordion ul:hover li:hover {
    width: 60%;
}
.accordion ul:hover li:hover div {
    background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover div * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    .accordion {
        height: auto;
    }
    .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
}
.about {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666;
}
.about div {
    color: blue;
    text-decoration: none;
}
.about div:hover {
    text-decoration: underline;
}

#promo{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    height: 80%;
    margin-top: 30px;
}

.promoVideo{
    height: 600px;
}
