.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    *zoom: 1;
}

nav {
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    font-size: 25px;
    position: fixed;
    top: 0;
    z-index: 9;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
}
nav ul li {
    position: relative;
    margin-left: 10px;
    text-align: center;
}

nav ul li a {
    padding: 10px;
    display: block;
    width: 100%;
}

li > ul {
    position: absolute;
    left: 0;
    padding-top: 3px;
    margin: 0;
    display: none;
    margin-top: 0;
}
li > ul > li {
    margin: 0 0 3px 0;
}

nav a#drop {
    display: none;
    background-color: rgba(0,0,0,.5);
    /*padding: 10px;*/
    font-size: 25px;
    position: fixed;
    z-index: 10;
    width: 100%;
    text-align: right;
}

/* -------------------------------------------------------- */
/*	Media Queries
/* -------------------------------------------------------- */
@media screen and (max-width: 800px) {
    nav {
        height: auto;
        /*position: static;*/
    }
    nav ul {
        margin-top: 0;
        padding: 10px;
        display: none;
        text-align: right;
    }
    nav ul li {
        display: block;
        text-align: right;
        width: 100%;
        font-size: 25px;
        background-color: transparent;
    }
    nav ul li > ul {
        /*position: static;*/
        padding-left: 30px;
        padding-top: 0;
    }
    nav ul li > ul > li {
        text-indent: 10px;
        font-size: 1em;
    }
    nav ul li > ul > li:hover, nav ul li > ul > li.active {
        /*background-color: #3f7678;*/
    }
    nav ul li > ul > li:last-child {
        margin-bottom: 8px;
    }
    nav ul li > ul > li a {
        padding-left: 0;
    }

    nav a#drop {
        display: block;
    }
}