*{margin: 0 auto;}
*:focus {outline: none;}

@font-face{
    font-family: GP; /* Гарнитура шрифта */
    src: url('GothaProReg.ttf');
}

body{
    font-family: GP;
}

h2{ font-size: 35px;
    text-align: center;
    margin: 55px auto;
}

header { 
    /* The image used */
    background-image: url("bg1.png");

    /* Full height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{margin-left: 10%;}

#logo img{
    width: 150px;
    padding-top: 20px;
}

header h1{
    margin-left: 15%;
    width: 350px;
    color: #fff;
    margin-top: 25px;
    font-size: 45px;
}

header span{
    display: block;
    margin-left: 15%;
    width: 350px;
    color: #fff;
    margin-top: 55px;
    font-size: 18px;
}


a{
    text-decoration: none;
    color: #000;
    cursor: default;
    font-size: 20px;
    
}

#button{ 
    border-radius: 20px;
    width:250px;
    height:40px;
    background: #efe44b;
    text-align: center;
    padding: 18px 0 0 0;
    margin: 30px 0 0 15%;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);}
#button:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2); }

.inform{
    background-image: url("inform.png");
    background-position: center 35%; /* Положение фона */
    background-repeat: no-repeat;
    /*opacity: 0.7;
    filter: alpha(Opacity=70);*/
    background-size: 270px auto;
    display: grid;
    grid-template-columns: repeat(3, 25%);
     grid-template-rows: 1fr 1fr;
    -ms-grid-rows: minmax(100vh, 1fr);
    justify-content: center;
    /*border-bottom: 4px dotted black;*/
    padding:35px 0;
}

#info{
    font-size: 20px;
    text-align: center;
    width: 200px;
    position:relative;
}

#info p{margin-top: 15px;}

#id1,#id2,#id3,#id4,#id5,#id6{
    color: #9a9a9a;
    width: 200px;
    text-align: center;
    font-size: 55px;
    opacity: .2;
    filter: alpha(Opacity=40);
    position: absolute;
}

#id1{top:55px;}
#id2{top:70px;}
#id3{top:45px;}
#id4{top:95px;}
#id5, #id6{top:50%;}

.video_content{
    margin-bottom: 50px;
    text-align: center;
}

.start_video{
    background-image: url("video.jpg");
    background-size: cover;
    width: 80%;
    height: 530px;
    position: relative;
}

.start_video img{    
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5% 0 0 -5%;
}

.start_video img:hover{
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
    z-index: 3;
}

.owl-carousel{position: absolute;}

.owl-carousel img{height: 630px;}

.opisanie{
    width: 45%;
    background: #fff;
    position: relative;
    z-index: 4;
    margin-top: -20%;
    margin-left: 10%;
    padding: 5px 10px;
    font-size: 25px;
    height: 150px;
}

.opisanie p{
    margin-top: 10px;
    font-size: 20px;
}

.owl-nav{
    display: grid;
    grid-template-columns: repeat(2, 40px);
    position: relative;
    margin-top: -4%;
    margin-left: 56%;

}
.owl-prev,.owl-next{
    font-size: 40px;
    background: #fff;
    padding: 5px 10px;
}

.section3{
    text-align: center;
}

.section3>h2{font-size: 30pt;width: 50%;}

.section3>p{
    font-size: 18pt;
    width: 60%;
    margin-bottom: 30px;
}

#check{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    font-size: 14pt;
    margin: 0 10% 30px;
}
#room1,#room2,#room3{
    width: 250px;
    text-align: center;
}

#form{
    display: grid;
    grid-template-columns: 70% 30%;
   
}

#email{
    width: 80%;
    height: 60px;
    margin:0 20%;
    background: #e8e8e8;
    color: #bdbdbd;
    font-size: 20px;
    padding: 0px 10px;
    border:0px solid rgb(255,255,255)
}

#zakaz{
    margin-left: -35px; 
    border:0px solid rgb(255,255,255);
    background: #efe44b;
    font-size: 20px;
}

#zakaz:hover{
    background: #dbcf2e;
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 40px 5%;
}