/*#ffd300;*/

*{
    margin: 0 auto;
    padding: 0;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #ffd300; }
::-webkit-scrollbar-track {  background-color: #000;}
::-webkit-scrollbar-track-piece { background-color: #ffd300;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #ffd300; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #ffd300;}}
::-webkit-resizer { background-color: #ffd300;}

a:active, a:hover { outline: none; }

body{background: #000;}

@font-face {
    font-family: "HeaderFont";
    src: url("../fonts/AA-BEBASNEUE.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "ParagrafFont";
    src: url("../fonts/Akrobat-Black.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1,h2,h3,h4{font-family: "HeaderFont";}
p,li,span, a{font-family: "ParagrafFont";}
.container{display: flex; justify-content: center;}

.col-d-1{width: 10vw;}
.col-d-2{width: 20vw;}
.col-d-3{width: 30vw;}
.col-d-4{width: 40vw;}
.col-d-5{width: 50vw;}
.col-d-6{width: 60vw;}
.col-d-7{width: 70vw;}
.col-d-8{width: 80vw;}
.col-d-9{width: 90vw;}
.col-d-10{width: 100vw;}

.contact{
    font-size: 32px;
    color: #000;
    padding: 10px 10px;
}
/*.contact:hover{*/
    /*background: #000;*/
    /*color: #ffd300;*/
/*}*/
.top{
    display: flex;
    justify-content: flex-end;
}

.top a{margin: 0;}

/*.col-xs*/

.header{
    background: #ffd300;
    padding: 10px;
    text-align: center;
    /*height: 100vh;*/
}

.info{
    color: #000;
    height: 100vh;
}

h1, h2{font-size: 8em; margin: 10vh auto 30px auto;}

.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
    font-size: 5em;
    margin-top: -20px;
    margin-bottom: 40px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-120%);
        opacity: 0;
    }
    50%{
        transform: translateY(8%);
        opacity: 0.2;
    }
    65%{
        transform: translateY(-4%);
        opacity: 0.3;
    }
    80%{
        transform: translateY(4%);
        opacity: 0.5;
    }
    95%{
        transform: translateY(-2%);
        opacity: 0.75;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-120%);
        opacity: 0;
    }
    50%{
        -webkit-transform: translateY(8%);
        opacity: 0.2;
    }
    65%{
        -webkit-transform: translateY(-4%);
        opacity: 0.3;
    }
    80%{
        -webkit-transform: translateY(4%);
        opacity: 0.5;
    }
    95%{
        -webkit-transform: translateY(-2%);
        opacity: 0.75;
    }
    100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
}

.info p{font-size: 1.5em; width: 500px; text-align: center; margin: 10px auto;}

.more{
    display: block;
    padding: 15px;
    width: 300px;
    font-size: 2em;
    background: #000;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 15px;
    margin: 30px auto;
}

.more:hover{color: #fff; text-decoration: none;}

#ex1{
    text-align: center;
    margin: 50px auto;
}

#ex1 h2{margin: 10px auto; color: #ffd300;}
#ex1 ul{list-style: none; margin: 5% 8vw;}

.list1 li, .list2 li{height: 90px;}

.list1 li:nth-child(1){
    background-image: url("https://png.icons8.com/material/50/FFBE00/person-male.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 5px;
}


.list1 li:nth-child(2){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/source-code-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px -10px;
}


.list1 li:nth-child(3){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/math-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 10px;
}


.list2 li:nth-child(1){
    background-image: url("https://png.icons8.com/ios-glyphs/50/FFBE00/graduation-cap.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 20px;
}

.list2 li:nth-child(2){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/training-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 10px;
}
.list2 li:nth-child(3){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/conference-background-selected-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 10px;
}
#ex1 li{text-align: left; font-size: 1.5vw; color:#fff; margin-top: 3vw;}

.ico{font-size: 20vw; margin-right: 20px; color: #ffd300;}

.section2{
    margin: 40px auto;
    text-align: center;
}

/*.container{margin-right: 0;}*/

#ex2 h2{margin: 10px auto; color: #ffd300;}

.special{
    display: block;
    /*height: 550px;*/
    margin: 30px 30px;
    background:  #ffd300;
    padding: 30px;
    color: black;
    border-radius: 15px;
}

.special h3{font-size: 80px}

.special-button{
    display: block;
    padding: 15px;
    font-size: 3vw;
    background: #000;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 15px;
    margin: 30px auto 0 auto;
}

.special-button:hover{color: #fff; text-decoration: none;}

#ex3{text-align: center; margin: 30px auto;}

#ex3 h2{ margin: 10px auto; color: #ffd300;}

/*.charts{margin: 20px auto; display: flex; justify-content: center;}*/

#sisAnal{margin: 10px auto; font-size: 5vw;}
#compScience {margin: 10px auto;}

.special img{
    display: block;
    width: 70%;
    height: 40%;
    margin: 10px auto;
}

.section5{
    background: #ffd300;
}

.slider {
    z-index: 9;
    width: 70vw;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    text-align: center;
    height: 80vh;
}
.slider ul, .slider li {
    padding: 0;
    margin: 50px auto;
    list-style-type: none;
    text-align: center;
}
.slider ul {
    width: 9999px;
}
.slider ul h2 {
    margin-top: 15px;
    text-align: center;color: #000;
    /*font-size: 10vw;*/
}
.slider ul p {
    font-style: italic;
    font-size: 20px;
}
.slider ul li {
    list-style-type: none;
    float: left;
    width: 70vw;
    height: 360px;
    text-align: center;
}
.slider ul li p {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    color: #000;
}

.slider .photo {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.section6{
    margin: 20px auto;
    text-align: center;
}

.section6 h2{ margin: 10px auto; color: #ffd300;}

.contacts{
    color: #fff !important;
    font-size: 40px;
    text-align: left;
    list-style: none;

}

.contacts li:nth-child(1){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/marker-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
}
.contacts li:nth-child(2){
    background-image: url("https://png.icons8.com/metro/50/FFBE00/phone.png");
    background-repeat: no-repeat;
    padding-left: 60px;
}
.contacts li:nth-child(3){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/secured-letter-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
}
.contacts li:nth-child(4){
    background-image: url("https://png.icons8.com/windows/50/FFBE00/telegram-app.png");
    background-repeat: no-repeat;
    padding-left: 60px;
}
.contacts li:nth-child(5){
    background-image: url("https://png.icons8.com/android/50/FFBE00/facebook.png");
    background-repeat: no-repeat;
    padding-left: 60px;
}

.contacts a{color: #fff !important; text-decoration: none;}
.contacts a:hover{color: #ffd300 !important;}

.foot{margin: 5%;}

.footer{background: #ffd300; padding: 20px;}
.footer p{color: #000; font-size: 1.5vw;}

.logo{margin: 15px 10px;}

.logo img{width: 40vw; filter: brightness(0);}

@media screen and (max-width: 990px){
    h1,h2{font-size: 10vw;}
    .contacts{margin-top: 15px; font-size: 4vw;}
    .list1 li:nth-child(1){background-size: 40px 40px; background-position: 0px 15px;}
    .list1 li:nth-child(2){background-size: 35px 35px; background-position: 0px 0px;}
    .list1 li:nth-child(3){background-size: 32px 32px; background-position: 0px 5px;}
    .list2 li:nth-child(1){background-size: 40px 40px; background-position: 0px 15px;}
    .list2 li:nth-child(2){background-size: 40px 40px; background-position: 0px 15px;}
    .list2 li:nth-child(3){background-size: 40px 40px; background-position: 0px 0px;}
    .special{margin: 3% auto;}
    .special-button{font-size: 4vw;}
    #ex1 li{font-size: 3vw;}
}

@media screen and (max-width: 768px){
    a>img{width: 8vw; height: 8vw;}
    .info>h1{font-size: 15vw;}
    .slideDown{font-size: 12vw;}
    .info p{font-size: 4vw; width: 70vw;}
    .container{display: block;}
    .col-m-1{width: 10vw;}
    .col-m-2{width: 20vw;}
    .col-m-3{width: 30vw;}
    .col-m-4{width: 40vw;}
    .col-m-5{width: 50vw;}
    .col-m-6{width: 60vw;}
    .col-m-7{width: 70vw;}
    .col-m-8{width: 80vw;}
    .col-m-9{width: 90vw;}
    .col-m-10{width: 100vw;}

    #ex1{height: 100%;}

    #ex1 ul{margin: 0 auto;}
    /*#ex1 li{font-size: 4vw;}*/
    .slider ul li p{width: 100%; font-size: 5vw;}

    .foot{margin: 0;}

    .contacts{padding: 0; font-size: 6vw;}
    .contacts li:nth-child(1){
        padding-left: 50px;
        background-size: 30px 30px;
    }
    .contacts li:nth-child(2){
        padding-left: 50px;
        background-size: 30px 30px;
    }
    .contacts li:nth-child(3){
        padding-left: 50px;
        background-size: 30px 30px;
    }
    .contacts li:nth-child(4){
        padding-left: 50px;
        background-size: 30px 30px;
    }
    .contacts li:nth-child(5){
        padding-left: 50px;
        background-size: 30px 30px;
    }

    .footer p{font-size: 3vw;}
}


@media screen and (max-width: 550px){
    .special h3{font-size: 7vw;}
    .contacts li:nth-child(1){
        padding-left: 30px;
        background-size: 20px 20px;
    }
    .contacts li:nth-child(2){
        padding-left: 30px;
        background-size: 20px 20px;
    }
    .contacts li:nth-child(3){
        padding-left: 30px;
        background-size: 20px 20px;
    }
    .contacts li:nth-child(4){
        padding-left: 30px;
        background-size: 20px 20px;
    }
    .contacts li:nth-child(5){
        padding-left: 30px;
        background-size: 20px 20px;
    }

    .footer{height: auto;}
}

@media screen and (max-width: 325px){
    .more{width: 70vw;}
    #ex1 li{font-size: 5vw;}
    .list1 li:nth-child(1){padding-left: 40px;}
    .list1 li:nth-child(2){padding-left: 40px;}
    .list1 li:nth-child(3){padding-left: 40px;}
    .list2 li:nth-child(1){padding-left: 42px;   margin-bottom: 40px;}
    .list2 li:nth-child(2){padding-left: 42px;}
    .list2 li:nth-child(3){padding-left: 42px;}

}