/*#ffd300;*/
:root {
    --yelow: #ffd300;
    --black: #000;
    --white: #fff;
}

*{
    margin: 0 auto;
    padding: 0;
}

body{    background: black; max-width: 100vw;}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #ffd300; }
::-webkit-scrollbar-track {  background-color: #000;}
::-webkit-scrollbar-track-piece { background-color: #ffd300;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #ffd300; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #ffd300;}}
::-webkit-resizer { background-color: #ffd300;}

a:active, a:hover { outline: none; }

@font-face {
    font-family: "HeaderFont";
    src: url("../fonts/AA-BEBASNEUE.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "ParagrafFont";
    src: url("../fonts/Akrobat-Black.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1,h2,h3,h4{font-family: "HeaderFont"; letter-spacing: 3px;}
p,li,span, a{font-family: "ParagrafFont";}
h1{font-size: 10vh;}
h2{font-size: 7vh;}
h3{font-size: 4vh;}
p,a,li{font-size: 3vh; text-align: center}
a{text-decoration: none;}
ul{list-style: none;}

.container{display: flex; justify-content: center; margin: 0;}

.col-d-1{width: 10vw;}
.col-d-2{width: 20vw;}
.col-d-3{width: 30vw;}
.col-d-4{width: 40vw;}
.col-d-5{width: 50vw;}
.col-d-6{width: 60vw;}
.col-d-7{width: 70vw;}
.col-d-8{width: 80vw;}
.col-d-9{width: 90vw;}
.col-d-10{width: 100vw;}

.header{
    background: var(--yelow);
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.top{
    display: block;
    text-align: right;
}

.top img{width: 30px; height: 30px}

.info{
    margin-top: 15vh;
    width: 50vw;
}

.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
    margin-top: 0.5vh;
    margin-bottom: 40px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-120%);
        opacity: 0;
    }
    50%{
        transform: translateY(8%);
        opacity: 0.2;
    }
    65%{
        transform: translateY(-4%);
        opacity: 0.3;
    }
    80%{
        transform: translateY(4%);
        opacity: 0.5;
    }
    95%{
        transform: translateY(-2%);
        opacity: 0.75;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-120%);
        opacity: 0;
    }
    50%{
        -webkit-transform: translateY(8%);
        opacity: 0.2;
    }
    65%{
        -webkit-transform: translateY(-4%);
        opacity: 0.3;
    }
    80%{
        -webkit-transform: translateY(4%);
        opacity: 0.5;
    }
    95%{
        -webkit-transform: translateY(-2%);
        opacity: 0.75;
    }
    100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
}

.button{
    display: block;
    background: var(--black);
    color: var(--white);
    padding: 15px;
    margin-top: 20px;
    width: 20vw;
    border-radius: 15px;
}

#ex1{
    display: block;
    margin: 3vh auto;
    text-align: center;
}

#ex1 h2{color: var(--yelow);}

.list2,.list1{display: flex; flex-direction: column; margin: 20px 4%;}
.list1 li, .list2 li{text-align: left; margin: 15px; color: white}

.list1 li:nth-child(1){
    background-image: url("https://png.icons8.com/material/50/FFBE00/person-male.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 60%;
}


.list1 li:nth-child(2){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/source-code-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    width: 20vw;
    background-position: 0px 50%;
}


.list1 li:nth-child(3){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/math-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 50%;
}


.list2 li:nth-child(1){
    background-image: url("https://png.icons8.com/ios-glyphs/50/FFBE00/graduation-cap.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 50%;
}

.list2 li:nth-child(2){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/training-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 50%;
}
.list2 li:nth-child(3){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/conference-background-selected-filled.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position: 0px 50%;
}

.section2{
    text-align: center;
    height: 100vh;
    margin: 20px auto;
}

.section2 h2{color: var(--yelow);}

.special{margin: 20px 4%; background: var(--yelow); height: 70vh; padding: 15px; border-radius: 15px;}
.special img{height: 50vh; width: 25vw;}

.section3{
    text-align: center;
    margin: 40px auto;
}

.section3 h2, .section3 h3{color: var(--yelow); margin: 20px auto;}
.chart{margin: 20px 4%; color: var(--yelow)}

.section5{background: var(--yelow); margin: 20px auto;}

.slider {
    z-index: 9;
    width: 70vw;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    text-align: center;
    /*height: 80vh;*/
}
.slider ul, .slider li {
    padding: 0;
    margin: 50px auto;
    list-style-type: none;
    text-align: center;
}
.slider ul {
    width: 9999px;
}
.slider ul h2 {
    margin-top: 15px;
    text-align: center;color: #000;
    font-size: 3vw;
}
.slider ul p {
    font-style: italic;
    font-size: 20px;
}
.slider ul li {
    list-style-type: none;
    float: left;
    width: 70vw;
    height: 360px;
    text-align: center;
}
.slider ul li p {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    color: #000;
}

.slider .photo {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.section6{padding: 20px;}
.section6 h2{text-align: center; color: var(--yelow); margin-bottom: 15px;}

.contacts{margin: 4% 4%; display: flex; flex-direction: column;}
.contacts li{text-align: left; color: white;}
.contacts a{color: white;}
.contacts a:hover{color: var(--yelow);}

.contacts li:nth-child(1){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/marker-filled.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 40px;
    margin: 15px;
}
.contacts li:nth-child(2){
    background-image: url("https://png.icons8.com/metro/50/FFBE00/phone.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 40px;
    margin: 15px;
}
.contacts li:nth-child(3){
    background-image: url("https://png.icons8.com/ios/50/FFBE00/secured-letter-filled.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 40px;
    margin: 15px;
}
.contacts li:nth-child(4){
    background-image: url("https://png.icons8.com/windows/50/FFBE00/telegram-app.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 40px;
    margin: 15px;
}
.contacts li:nth-child(5){
    background-image: url("https://png.icons8.com/android/50/FFBE00/facebook.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 40px;
    margin: 15px;
}

.footer{
    background: var(--yelow);
    padding: 15px;
}
.footer img{width: 15vw; filter: brightness(0)}
.footer p{text-align: left; font-size: 0.8vw;}

@media screen and (max-width: 1024px){
    .col-s-1{width: 10vw;}
    .col-s-2{width: 20vw;}
    .col-s-3{width: 30vw;}
    .col-s-4{width: 40vw;}
    .col-s-5{width: 50vw;}
    .col-s-6{width: 60vw;}
    .col-s-7{width: 70vw;}
    .col-s-8{width: 80vw;}
    .col-s-9{width: 90vw;}
    .col-s-10{width: 100vw;}
    .container{display: flex; flex-direction: column;}
    .list1, .list2{margin: 10px auto;}
    .list1 li:nth-child(2){width: 80%}
    .section2{height: 100%}
    .special{margin: 20px auto;}
    .special img{width: 80%;}
    .charts{display: flex; justify-content: center; flex-direction: row}
    .contacts{margin: 20px auto}
    .footer img{width: 20vw;}
    .footer p{font-size: 1.2vw;}
}
@media screen and (max-width: 768px){
    .col-m-1{width: 10vw;}
    .col-m-2{width: 20vw;}
    .col-m-3{width: 30vw;}
    .col-m-4{width: 40vw;}
    .col-m-5{width: 50vw;}
    .col-m-6{width: 60vw;}
    .col-m-7{width: 70vw;}
    .col-m-8{width: 80vw;}
    .col-m-9{width: 90vw;}
    .col-m-10{width: 100vw;}
    .charts{display: flex; justify-content: center; flex-direction: column; margin: 20px auto}
}

@media screen and (max-width: 425px){
    .button{width: 28vw;}
    .special{height: 100%;}
    .special img{width: 100%; height: 50%;}
    .slider ul h2{font-size: 8vw;}
    .slider ul li p{font-size: 4vw; width: 45vw;}
    .footer img{width: 30vw;}
    .footer p{font-size: 2.5vw;}
    .info{margin-top: 5vh;}
}

@media screen and (max-width: 375px){
    .col-sm-1{width: 10vw;}
    .col-sm-2{width: 20vw;}
    .col-sm-3{width: 30vw;}
    .col-sm-4{width: 40vw;}
    .col-sm-5{width: 50vw;}
    .col-sm-6{width: 60vw;}
    .col-sm-7{width: 70vw;}
    .col-sm-8{width: 80vw;}
    .col-sm-9{width: 90vw;}
    .col-sm-10{width: 100vw;}
    .button{width: 32vw;}
    h2{font-size: 10vw;}
    .info{width: 90vw;}
    .info p{font-size: 4vw; width: 80vw; margin: 10px auto}
    .contacts li:nth-child(5){}
}