*{
    margin: 0;
    padding: 0;
}
body{scroll-behavior: initial;}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.main-wrapper{
    display: grid;
    grid-template-rows: 100vh 60% 90% 90% 100%;
}

.first-wrap{
    background-image: url("../img/bg.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*padding: 15px;*/
    background: rgba(0,0,0,.3);
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.logo{
    margin-left: 10%;
    margin: 35px 10px 30px;
    color: #fff;
}

.logo span{
    color: #dd3f19;
}

.main-nav ul{
    display: flex;
    justify-content: center;
    text-align: right;
    height: 100%;
}

.main-nav ul li{
    margin-right: 10px;
    height: 100%;
}

.nav-link, #search, #search-input{
    display: block;
    padding: 35px 5px 0px;
    color: #c3bdbb;
}

.current{
    display: block;
    color: #fff;
    background: rgba(0,0,0,.6);
    height: 55px;
    margin: 0;
    border-bottom: 3px solid #dd3f19;
}

#search-input{display: none}

.title{
    text-align: center;
    color: white;
    margin: 80px auto;
}

.second-title{
    color: white;
    margin: 10px 240px;
    display: flex;
    justify-content: space-around;
}

.buttons ul{
    display: flex;
    justify-content: center;
}

.buttons ul li{
    width: 20px;
    height: 20px;
    margin: 0 25px 0 0;
    padding: 10px 5px 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
}

.buttons ul li:hover{
    color: #dd3f19;
    border: 1px solid #dd3f19;
    cursor: pointer;
}

.first-wrap .like{
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 300px;
}

.like{    color: #c3bdbb;}

.like span{margin-left: 5px}

.like:hover{color: #dd3f19; cursor: pointer;}

.content1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: 20px auto 60px;
    border-bottom: 01px solid #c3bdbb;
    padding: 55px 0;
    grid-column-gap: 65px;
}

.click{
    padding: 15px;
    width: 100px;
    background: #dd3f19;
    cursor: pointer;
    margin: 15px 0;
}

.click a{color: white}

.img{
    display: block;
    width: 100%;
    height: 200px;
    background: #c2c2c2;
    margin: 15px auto;
}

.img:after{
    content: 'View details';
    font-size: 30px;
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    color: #ffffff;
    background: rgba(0,0,0, .6);
    text-align: center;
    line-height: 6.5em;
    cursor: pointer;
}

.img:hover:after{display: block;}

.content2{margin: 60px 0}

.content2 h2{text-align: center}

.recent-work-examples{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.footer{
    background-image: url("../img/Footerbg.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.footer p{
    width: 60vw;
    margin: 10px auto;
}

.social ul{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    width: 20vw;
    margin: 20px auto;
}

.social ul li{
    padding: 20px 10px;
}

.social ul li a{color: white}

.fa-pinterest-p{color: #dd3f19}

.to-top{
    color: white;
    position: fixed;
    z-index: 99;
    bottom: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background: #1f272b;
}

.to-top:hover{background: #dd3f19}

.to-top a{color: white; font-size: 20px; padding: 2px}

.footer-bottom{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 3% 50px 1.2%;
    background: rgba(0,0,0,.7);
    /*height: 140px;*/
}

.footer-bottom ul{
    display: flex;
    justify-content: center;
}

.footer-bottom ul li{margin: 0 10px;}
.footer-bottom ul li a{color: white}

@media screen and (max-width: 1024px){
    .post-list{grid-template-columns: repeat(3, 43vw);}
    .social ul{width: 30vw}
    .portfolio p{width: 90vw;}
}

@media screen and (max-width: 768px){
    .service{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .post-list{grid-template-columns: repeat(3, 57vw);}

    .first-wrap .like{margin-top: 50px}
    .info h3{font-size: 10px}
    .second-title{margin: 10px 50px}
    .content1{margin-top: 60px}
}

@media screen and (max-width: 600px){
    .service{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header{text-align: center}
    #slider h1{font-size: 15vw;}
    .post-list{grid-template-columns: 1fr;}
    .social ul{width: 45vw}
    .main-nav{display: none;}
    .recent-work-examples{grid-template-columns: 1fr;}
}


@media screen and (max-width: 500px){
    .service{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .post-list{grid-template-columns: 1fr;}
    .social ul{width: 85vw}
    .footer p{ width: 90vw;}
    .portfolio-example{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer h3{font-size: 15px}
}