$head_font: 40px;
$p_font: 20px;
$f_familyH: 'Poiret One', cursive;
$f_familyP: Georgia, 'Times New Roman', Times, cursive;
$fullHeight: 100vh;

@import url('https://fonts.googleapis.com/css?family=Cabin:400,500');

*{margin: 0 auto;	padding: 0;}

body{background: #c2c2c2;}

a{
	text-decoration: none;
	color: #000;
}

.header{
	height: $fullHeight;
	background: url(../images/header.jpg);
	-webkit-filter: grayscale(.4);  
	background-size: 100vw $fullHeight;
    background-repeat: no-repeat;
    padding: 0;
    box-shadow: 0 10px 7px 2px rgba(0, 0, 0, .2);
    .hf{
    	font-size:$head_font*4;
		font-family: $f_familyH;
		color: #fff;
		font-style: italic;
		margin: 20vh  0 0 8vw;
    }
    p{
    	font-size:$head_font;
		font-family: $f_familyP;
		color: #fff;
		font-style: italic;
		padding-left: 8vw;
    }
}

#top{
	display: flex;
	justify-content: space-between;
	a{
		width: 50px;
		height: 50px;
	}
	.fa-bars{
		margin-left: 30px;
		margin-top: 20px;
		color: #fff;
    }
    #menu{
		width: 50px;
		margin: 20px;
    }
    .logo{
    	width: 70px;
    }
}

.logo{
	font-family: $f_familyH;
	font-size: 17px;
	background: url(../images/logo.png);
	background-size: 60px 60px;
	background-repeat: no-repeat;
	padding-top: 65px;
	margin:35px auto;
	/*text-align: center;*/
	color: #fff;
	text-align: start;

}



#modal{
	display: none;
	background: #fff;
	position:absolute;
    z-index:9999;
    width: 98.6vw;
    height: $fullHeight;
    left: 0;
    top: 0;
  	transition: left 5s cubic-bezier(0, 0, 1, 1);
    nav{
    	padding: 20px 30px;
    	.fa-reply{
    		font-size: 3em;
    		color: #c2c2c2;
    		margin: 20px;
    	}
    }
    ul{
    	text-align: center;
    	list-style:none;
    	margin-top: $fullHeight/10;
    }
    li{
    	a{
    		font-family: $f_familyP;
    		font-size:$head_font*2;
    		color: #c2c2c2;
    		margin: 5px auto;
    		&:after{
    			 background-color: #c2c2c2;
    			display: block;
    			content: "";
    			height: 5px;
    			width: 0%;
				margin: 5px auto;
    			-webkit-transition: width .3s ease-in-out;
    			-moz--transition: width .3s ease-in-out;
    			transition: width .3s ease-in-out;
    		}
    		&:hover:after, &:focus:after{
    			width: 40%;
    		}
    	}
    }
}

.wrapper{
	height: $fullHeight;
	background: #fff;
	margin: 20px 20px;
	/*padding: 30px;*/
	display: flex;
	justify-content: center;
	box-shadow: 0 10px 7px 2px rgba(0, 0, 0, .2);
/*	position: fixed;*/
	.info{
		width: 50%;
		height: $fullHeight;
		padding: 40vh 0 0 30px;
		.hf{
			font-size:$head_font;
			font-family: $f_familyH;
		}
		p{
			font-family: $f_familyP;
			font-style: italic;
			font-size: $p_font;
			width: 80%;
			margin: 10px 0;
		}
		a{
			display: block;
			height: 40px;
			width: 120px;
			text-align: center;
			padding: 10px 10px 0 10px;
			background:#3f92f0;
			margin-left: .5%;
			margin-top: 20px;
			font-style: bold;
			font-size: 20px;
			color: #fff;
			font-family: $f_familyH;
			&:hover{
				background:#177ae9;
			}
		}
	}
	img{
		width: 50%;
		height: $fullHeight;
	}
}

	.slider{
    	z-index: 9;
 		width: 70vw;
 		height: 90vh;
 		overflow: hidden;
 		margin: 20px auto;
 		position: relative;
 		text-align: center;
 		ul,li{
 			padding: 0;
 			margin: 50px auto;
 			list-style-type: none;
 		}
 		ul{
 			width: 9999px;
 			h2{
 				font-family: $f_familyH;
 				font-style: bold;
 				font-size: $head_font;
 				margin-top: 15px;
 			}
 			p{
 				font-family: $f_familyH;
 				font-style: italic;
 				font-size: 20px;
 			}
 			li{
 				list-style-type: none;
 				float: left;
 				width: 70vw;
 				height: 360px;
 				text-align: center;	
 				p{
 					width: 500px;

 				}
 			}
 		}
		.nav{
			position: absolute;
 			bottom: 30vh;
 			left: 32vw;
 			span{
 				opacity: 0.9;
 				background: #fff;
 				margin: 0 8px 0 0;
 				width: 16px;
 				height: 16px;
 				border-radius: 8px;
 				cursor: pointer;
 				overflow: hidden;
 				display: block;
 				float: left;
 				box-shadow: 0 1px 2px #000;
 				.on{
 					width: 18px;
 					height: 18px;
 				}
 			}
		}
		.slider1{.photo{background: #c3dc17;}}
		.slider2{.photo{background: #17dca7;}}
		.slider3{.photo{background: #6a17dc;}}
		.slider4{.photo{background: #dc1737;}}
		.photo{
			width: 150px;
			height: 150px;
			-webkit-border-radius:50%;
			border-radius:50%;
		}
	}

/*.hidden{opacity:0;}
.visible{opacity:1;}*/

.footer{
	display: flex;
	justify-content: space-between;
	#info{
		flex: 1;
		margin: 10px 30px;
		display: block;
		h2{
			font-family: $f_familyH;
			margin-bottom: 3px;
			color: #fff;
		}
		.logo{
			margin:15px -5px;
			float: left;
		}
		p{
			float: left;
			width: 40vw;
			color: #fff;
			margin-left: 15px;
			font-family: $f_familyH;
			font-style: italic;
		}
	}
	#menu{
		flex: 1;
		font-family: $f_familyH;
		color: #fff;
		text-align: center;
		margin-top: 15px;
		ul{
			list-style:none;
			height: 90%;
			li{
				margin: 10px auto;
				a{
					color: #fff;
					font-size: 20px;
    				margin: 2px auto;
    				&:after{
    			 		background-color: #fff;
    					display: block;
    					content: "";
    					height: 3px;
    					width: 0%;
						margin: 3px auto;
    					-webkit-transition: width .3s ease-in-out;
    					-moz--transition: width .3s ease-in-out;
    					transition: width .3s ease-in-out;
    				}
    				&:hover:after, &:focus:after{
    					width: 20%;
    				}
				}
			}
		}
	}
}

#sociate{
	color: #fff;
	font-family: $f_familyH;
	font-size: 2em;
	margin-left: 20px;
	padding: 10px 20px;
	i{
		font-size: 1em;
	}
}

@media (max-width: 992px) {
	.header{
		h1, p, #top{text-align: center;}
		#modal{width: 100vw;}
	}
	.wrapper{
		/*display: block;*/
		.info{
		width: 95vw;
		padding: 0;
		position: absolute;
		z-index: 2;
		color: #fff;
		text-align: center;
		background: rgba(0, 0, 0, .65);
		.hf{
			font-size:$head_font*2;
			font-family: $f_familyH;
			margin-top: 50%;
		}
		p{
			font-size: $p_font*2;
			margin: 10px auto;
		}
		a{text-align: center; 
			margin: 50px auto;
			width: 40%;
			height: 7%;
			font-size: 50px;
		}
		}
		img{
		display: block;
		float: left;
		width: 95vw;
		}
	}
	.fourth{height: 65vh;}
	.slider{
		ul{
			.hf{font-size: 50px; margin-top: 25px;}
			p{font-size: 30px; margin-top: 15px;}
		}
		.nav{
			span{
				width: 45px; 
				height: 45px; 
				border-radius: 50%;
				}
			left:22vw;
			}
	}
	#info{
		.logo{
			display: none;
		}
		p{
			font-size: $p_font;
			width: 50%;
		}
	}
}

@media (max-width: 650px){
	.header{
		#top{
			
			#menu{.fa-bars{margin-left: 10px;}}
			.logo{
				margin: 35px 5%;
			}
		}
		.hf{
			font-size: $head_font*1.2; 
			margin: 40% 0 0 40%; 
			text-align: left;
		}
		p{
			text-align: left;
			margin-left: 15%;
		}
		#modal{
			nav{padding: 10px 40px;}
			ul{
				
				li{
					a{font-size: 50px;}
				}
			}
		}
	}
	.wrapper{
		.info{
			a{font-size: 40px;}
		}
	}
	.fourth{
		height: 90vh;
	}
	.slider{
		.nav{
			bottom: 20%;
			left: 25%;
		}
		ul{
			li{
				p{width: 300px;}
			}
		}
	}
}

@media (max-width: 480px) {
	.header{
		height: $fullHeight;
		#top{margin:0 15px;}
		.hf{margin-left: 20%;}
		p{
			text-align: left;
			margin-left: 10%;
			font-size: 30px;
		}
		#modal{
			nav{padding: 10px 40px;}
			ul{
				
				li{
					a{font-size: 50px;}
				}
			}
		}
	}
	.wrapper{
		.info{
			.hf{font-size: 40px;}
			a{font-size: 30px;}
			p{font-size: $p_font*1.3;}
		}
	}
	.fourth{
		height: 80vh;
	}
	.slider{
		.nav{
			bottom: 20%;
			left: 27%;
			span{
				width: 30px;
				height: 30px;
			}
		}
		ul{
			margin-left: 0;
			li{
				margin-top: 20px;
				.hf{font-size: $p_font*1.5;}
				p{
					width: 300px;
					font-size: $p_font;
				}
				.photo{
					width: 120px;
					height: 120px;
				}
			}
		}
	}
	.footer{#info{display: none;}}
	#sociate{text-align: center;}
}
@media (max-width: 380px) {
	.header{
		.hf{
			font-size: $head_font*2;
			margin-left: 15%;
		}
		#modal{
			nav{padding: 20px 3px;}
			ul{
				
				li{
					a{font-size: 30px;}
				}
			}
		}
	}
	.wrapper{
		.info{
			p{
				font-size: $p_font;
			}
			a{height: 75px;}
		}
	}
	.fourth{
		height: 100vh;
		width: 95vw;
		margin: 20px auto;
	}
	.slider{
		.nav{
			bottom: 10%;
			left: 23%;
			span{
				width: 25px;
				height: 25px;
			}
		}
		ul{
			li{
				p{
					width: 200px;
					font-size: $p_font;
				}
			}
		}
	}
	#sociate{
		font-size: 1em;
		margin: 10px auto;
	}
}