@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');
*{
    /*margin: 0 auto;*/
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


*:focus{outline: none;}
.dropbtn:focus{outline: none;}

body{
    background: #f2f2f2;
}

.header{margin: 0 auto; width: 100%}

.row{margin: 0}

.top{
    display: flex;
    justify-content: flex-start;
    padding: 2px 15px;
    background: #185e74;
}

#logo{
    color: #fff;
    /*width: 15vw;*/
    margin: 5px 5vw;
}

.local{
    margin: 5px 0;
    background: #fff;
    padding: 5px;
    height: 45px;
}

.search{
    width: 45vw;
    margin: 5px 0;
}

.search input{
    width: 45vw;
    height: 45px;
    border: none;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    outline: none;
    font-size: 13px;
    background-position: right;
}

.log{
    display: flex;
    margin: 10px 0 0 15vw;
    width: 10vw;
}

#bell{margin-top: 10px; color: #292624;}

#photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.dropbtn {
    width: 20px;
    height: 20px;
    border: none;
    text-align: center;
    background: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    text-decoration: none;

}

.show {display:block;}

.main{
    background-image: url("../images/bg1.jpg");
    height: 85vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.content{
    z-index: 2;
    margin-top: -15%;
}


#ch{
    font-size: 45px;
    color: #fff;
}

#cp{
    color: #fff;
    padding-left: 0;
}

#head1{
    background-image: url("../images/tag1.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
}

#head2{
    margin-bottom: 50px;
}

.info{
    background: #fff;
    padding: 20px 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.info>a,p{
    color: #000000;
    text-decoration: none;
    padding-left: 45px;
    padding-top: 10px;
}

.info a{
    background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-position: left;
    display: flex;

}

pre{
    color: #000;
    width: 20px;
    margin: 0 auto;
    margin-right: 0;
}
#hidden-menu1, #hidden-menu2{display: none;}

.course{
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.course-top{
    display: flex;
    justify-content: space-between;
}



#logo1{
    margin-left: 20px;
    margin-top: -50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 6px;
    z-index: 10;
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 40%;
}

.fa-star{color: #005297;}
.fa-star:hover{color: #e0a800;}

#disc{
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

#inf{padding: 0;}
#inf>label{margin-left: 10px; font-size: 19px; color: #000000}

.infp>p{padding: 0; color: #585858}
.cours-info{display: flex}
.cours-info>p{padding: 0; width: 30%; margin-left: 15px; color: #585858}

.col-xl-6{margin: 0}
.info:nth-child(2){margin-top: 6%;}

h2{text-align: left;}

#slide-h{margin-left: 15%;}

/* Slider */
.slider {
    display: flex;
    justify-content: center;
    width: 62vw;
    height: 500px;
    margin: 50px 15%;
    padding: 0 30px;
    position: relative;
}

.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }

.slide-list {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 700px;
    width: 100%;
}
.slide-wrap {
    position: relative;
    left: 0px;
    top: 0;
    width: 10000000px;
}
.slide-item {
    width: 280px;
    padding: 10px;
    float: left;
    margin-top: 70px;
}
.slide-title {
    font: bold 16px monospace;
    display: block;
}

.navy {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #536d7f;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    background: #fff;
}
.prev-slide {left: -20px;}
.next-slide {right: -30px;}
.navy.disable {background: #dbdbdb;}

@media screen and (max-width:768px) {
    .content{margin-top: -30%;}
    .course{font-size: 14px;}
    #inf>label{font-size: 14px; margin-left: 30px; margin-top: -80px}
    #slide-h{text-align: center; margin-left: 0}
    .slide-item{width: 210px; padding: 5px}
}

@media screen and (max-width:540px) {
    #photo img{width: 35px; height: 35px; margin-top: 10px;}
    #logo{font-size: 22px; margin-top: 15px}
    .svg-inline--fa{font-size: 14px; margin: 2px 5px}
    .local{padding: 12px 5px; display: flex}
    .dropbtn{font-size: 12px;width: 5px; height: 5px; margin:0 auto}
    .search{margin-left: -0.5px;}
    .search>input{ padding: 2px 4px;}
    .log{margin: 0;}
    .main{background-size: 250vw 100%; background-position: center}
    .content{display:flex;flex-direction: column-reverse;}
    #ch,#cp{display: none}
    .tope{margin-top: -60%;}
    #disc{width: 80%; margin: 0 9%}
    #logo1{width: 60px; height: 60px}
    .fa-star{margin-top: -15px; margin-right: 50px;}
    #inf{margin-left: 15%; margin-top: 15px; font-size: 18px}
    .course{height: 60vh; width: 80%; padding: 25px 5px 5px 5px; margin: -60% auto 10px auto;}
    .slider{margin: 20px auto}
    .slide-list{height: 400px}
    .slide-item{ height: 50%; margin-top: 120px}
    .slide-item #logo1{display: none}
    .show{z-index: 15}
}

@media screen and (max-width:360px) {
    .search{width: 30vw}
    .search input{width: 30vw}
    .slide-item .course{width: 25vw; height: 50%;}
    #inf{margin-left: 0}
    .infp>p{font-size: 10px}
    .cours-info>p{font-size: 14px; margin-left: 0}
}